<main class="vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-9">
        <div class="card text-black rounded">
          <div class="card-body p-5">
            <h1 class="text-center fw-bold mb-4 mx-1 mx-md-4 mt-4">Edit article</h1>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>