<main>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
      <h1 class="col-lg-8 text-center text-white">Listing Articles</h1>
    </div>
    <%= render 'articles' %>
  </div>
</main>