<main id="page-height">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 text-center">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-white font-weight-bold">Alpha Blog</h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="lead text-white mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
        <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
      </div>
    </div>
  </div>
</main>