<main id="page-height">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 text-center">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-white font-weight-bold">Alpha Blog</h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="lead text-white mb-5">Share your stories, ideas and knowledge on any topic. Connect with writers worldwide.</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</main>