<main>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-6">
        <h1 class="mt-5">Alpha Blog</h1>
        <p>Welcome to Homepage</p>
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-dark">
  <div class="container px-3">
    <small>Copyright &copy; <%= link_to "Mashrur Hossain", "https://mashrurhossain.com", class: "text-white" %></small>
  </div>
</footer>