html { height: 100%;}

body {
    background: url('../images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

section > .container {
  padding: 60px 15px 0;
}