<main class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-6">
        <div class="card text-black rounded">
          <div class="card-body p-5">
            <h1 class="text-center fw-bold mb-4 mx-1 mx-md-4 mt-4">Edit category name</h1>
            <%= render 'form' %>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <%= link_to "Cancel and return to category", category_path(@category), class: "link-light text-center" %>
        </div>
      </div>
    </div>
  </div>
</main>