<footer class="mt-auto py-3 bg-dark">
  <div class="container px-3">
    <small class="d-flex justify-content-center text-muted text-white">
      Copyright &copy; 2022 - <%= link_to "Mashrur Hossain", "https://mashrurhossain.com", class: "text-white" %>
    </small>
  </div>
</footer>